@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');
:root{
    --primary-color: rgb(126, 208, 219);
    --secondary-color: rgb(60, 122, 131);
    --terciary-color: rgb(2, 185, 130);
}
*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--primary-color);
    font-family: 'Arima Madurai', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.conteiner{
    max-width: 640px;
    margin: 50px auto;
    background: var(--secondary-color);
    padding: 20px;
    border-radius: 15px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 3px solid var(--primary-color);
}
form button{
    border: none;
    background-color: var(--primary-color);
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 15px;
}
form button:hover{
    background-color: var(--terciary-color);
}