@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap');
:root{
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(136, 135, 135);
    --terciary-color: rgb(255, 255, 255);
    --test-color: rgb(30, 255, 0);
    --font-h1-color: #FFF;
    --auxiliar-color: #000;
    --conteiner-height: 500px;
    --conteiner-width: 360px;
    --contpos-height: calc(50vh - var(--conteiner-height)/2);
    --contpos-width: calc(50vw - var(--conteiner-width)/2)
}
*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--secondary-color);
    font-family: 'Arima Madurai', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
h1{
    font-size: 40px;
    margin: 15px 0 15px 0;
    color: var(--font-h1-color);
}
h2{
    font-size: 25px;
    margin: 10px 0 5px 0;
}
table{
    width: 100%;
    height: calc(100% - 121px);
    border-spacing: 0;
}
td{
    width: 100%;
    height: 70%;
    /* background-color: var(--test-color); */
    display: flex;
}
.conteiner{
    width: var(--conteiner-width);
    height: var(--conteiner-height);
    top: var(--contpos-height);
    left: var(--contpos-width);
    position: absolute;
    border-radius: 15px;
    background-color: var(--primary-color);
}

button{
    width: 25%;
    height: 80%;
    border: 0;
    margin: 10px 5px 2.5px 5px;
    font-size: 20px;
    background-color: rgb(184, 184, 184);
    border-spacing: 0;
}
button:hover{
    background-color: rgb(107, 107, 107);
    color: #FFF;
}
.display{
    width: 100%;
    height: 60px;
    padding-top: 15px;
    padding-right: 5px;
    margin-bottom: 10px;
    border-color: var(--terciary-color);
    border-style: solid;
    color: var(--font-h1-color);
    text-align: right;
    font-size: 40px;
}
