*{
    border: 1px solid #880088;
    margin: 0px;
    padding: 0px;
}
h1, p{
    background-color: aqua;
}
body div section p{
    color: darkred;
}
.heading{
    color: white;
    background-color: black;
}
.main-content h2{
    font-style: italic;
}
.main-content .text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12pt;
}